nav{
text-align: center; color:black; background-color:white; width:auto; font-size:28px; border-style:ridge; border-width:4px; margin-bottom: 15px; border-color:black;
}
nav a:link { color: #3F2860; }
nav a:visited { color: #497777; }
nav a:hover { color: #A26100; border: 3px inset #333333; 
}
aside {font-size:14px;  
}
header {text-align: center; margin-bottom:30px; font-size:30px; border-style:ridge; 
}
footer { text-align:center;  border-style:ridge;
}
article{ text-align:left; font-size: 20px; margin-top:10px; border-style:ridge; width:650px; margin-left: 500px; margin-bottom:10px;
}
#gallery { display: flex;
           flex-direction: row;
           justify-content: space-around:
  }
dl{border-style:ridge; font-size:20px; max-width:700px; margin-left:15px }
img { margin: 1em;
        box-shadow: 5px 10px 15px #777; margin-left:75px }
p {border-style:ridge; font-size:20px; max-width:700px; margin-left:20px}
h2{text-align:center; border-style:ridge;}
ul{font-size:16px; margin-left:35%; margin-right:5%;}
main{text-align:center; }
iframe { margin-left:270px; margin-top:20px;}

body { background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA2L3JtNjIyLXJlbWl4LTAwNWEtMTFrLmpwZw.jpg"); background-repeat: no-repeat; background-size:cover; }
 }
table {
  border-collapse:collapse;
  width:40%;
  margin-left:450px;
}
th,td{border:3px inset #000000;
  padding:8px;
  text-align:left;
      background-color:#FFFFFF,
}
tr:nth-child(even){
  background-color:#FFFFFF;
}
tr:nth-child(odd){
  background-color:#FFFFFF;
form { font-family: Georgia;
         width: 850px; padding: 10px; border: 3px inset #000000; justify-content:center; margin-left:20%;text-align:center;
}


